@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-wrapper {
  background-image: url(../assets/images/bg-pattern.png);
  background-color: #0a0d1603;
  background-color: #ffffff;
  border: 1.2px solid;
  border-image-source: radial-gradient(
    37.55% 33.81% at 50% 75.06%,
    rgba(10, 13, 22, 0.01) 20.5%,
    rgba(10, 13, 22, 0.04) 100%
  );
}

.header {
  padding-top: 34px;
  padding-bottom: 40px;
}

.header-container {
  max-width: 1224px;
}

.image-header {
  max-width: 192px;
  display: flex;
}

.join {
  padding-top: 40px;
  padding-bottom: 85px;
}

.join-container {
  max-width: 1210px;
}

.join-title {
  font-family: "Martian Mono", sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 74.4px;
  letter-spacing: -2px;
  margin-bottom: 24px;
  background: linear-gradient(107.24deg, #fea36f -11.37%, #062630 61.84%);
  color: transparent;
  background-clip: text;
}

.join-text {
  width: 570px;
  color: #385159;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
  margin-bottom: 32px;
}

.join-button {
  text-decoration: none;
  cursor: grab;
  width: 380px;
  display: flex;
  font-family: "Martian Mono", sans-serif;
  background-color: #ffffff;
  color: #062630;
  border: 2px solid #062630;
  border-radius: 8px;
  font-weight: 600;
  line-height: 23px;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-bottom: 20px;
  letter-spacing: -1px;
}
.join-button:hover {
  background-color: #ffe2d1;
}

.join-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.join-info-img {
  width: 110px;
}

.join-info-second {
  display: flex;
  flex-direction: column;
}

.join-info-second-img {
  width: 24px;
}

.join-info-text {
  font-family: "Martian Mono", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -1px;
  text-align: center;
  color: #385159;
}

.info-img {
  max-width: 536px;
  border-radius: 12px;
}

.join-right {
  display: flex;
  align-items: center;
  gap: 64px;
}

.join-information {
  display: flex;
  flex-direction: column;
  max-width: 570px;
}

.read {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 60px;
}

.read-container {
  max-width: 1210px;
}

.read-right {
  display: flex;
  align-items: center;
  gap: 80px;
}

.read-img {
  max-width: 560px;
  border-radius: 12px;
}

.read-title {
  color: #062630;
  font-family: "Martian Mono", sans-serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -2px;
  text-align: left;
  margin-bottom: 34px;
  line-height: 65px;
}

.read-wrapper {
  max-width: 431px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.read-informations {
  display: flex;
  gap: 14px;
  align-items: center;
}

.read-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
}

.club {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.club-container {
  max-width: 1210px;
}

.club-title {
  width: 535px;
  font-family: "Martian Mono", sans-serif;
  color: #062630;
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 24px;
  text-align: left;
}

.club-text {
  max-width: 535px;
  color: #385159;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
  margin-bottom: 32px;
}

.club-img {
  order: 2;
  max-width: 560px;
  border-radius: 12px;
}

.club-right {
  display: flex;
  align-items: flex-start;
  gap: 75px;
}

.club-text .bold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #062630;
}

.club-info {
  order: 1;
  max-width: 570px;
}

.journey {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.journey-container {
  max-width: 1220px;
  background-image: url(../assets/images/pattern-light-bg.svg);
}
.journey-right {
  border-radius: 10px;
  background-color: #faf5f3;
  background-image: url(../assets/images/pattern-light-bg.svg);
}
.journey-title {
  font-family: "Martian Mono", sans-serif;
  color: #062630;
  text-align: center;
  width: 512px;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 64px;
  padding-top: 80px;
  letter-spacing: -0.04em;
  margin-left: auto;
  margin-right: auto;
}
.journey-information {
  display: flex;
  gap: 40px;
  padding-bottom: 80px;
  padding-left: 60px;
  padding-right: 60px;
}
.journey-wrapper {
  width: 226px;
  background-image: url(../assets/images/pattern-arrow.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.journey-wrapper:nth-child(4) {
  background-image: none;
}
.journey-num {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: "Martian Mono";
  border: 2px solid #062630;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  width: 40px;
  height: 40px;
  margin-bottom: 24px;
}
.journey-text {
  font-family: "Martian Mono";
  color: #062630;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  letter-spacing: -0.01em;
}

.options {
  padding-top: 60px;
  padding-bottom: 60px;
}
.options-container {
  max-width: 1010px;
}
.options-title-first {
  font-family: "Martian Mono", sans-serif;
  color: #062630;
  font-weight: 600;
  line-height: 65px;
  font-size: 50px;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 64px;
}
.options-both {
  display: flex;
  gap: 25px;
}
.options-first {
  border: 1px solid #e6e1df;
  border-radius: 4px;
  padding: 24px;
}
.options-second {
  background: var(--colors-neutral-50, #faf5f3);
  border: 1px solid #e6e1df;
  border-radius: 4px;
  padding: 24px;
}
.options-title {
  font-family: "Martian Mono", sans-serif;
  color: #062630;
  font-weight: 600;
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -1px;
  text-align: left;
  margin-bottom: 24px;
}
.options-info {
  gap: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.options-cost {
  font-family: "Martian Mono", sans-serif;
  color: #062630;
  text-align: left;
  font-size: 34px;
  font-weight: 600;
  line-height: 44.2px;
  letter-spacing: -1px;
}
.options-text {
  font-family: "Inter", sans-serif;
  color: #385159;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
}
.devider {
  background-color: #e6e1df;
  width: 238px;
  margin-bottom: 24px;
}
.second {
  width: 302px;
}
.information {
  margin-bottom: 32px;
}
.button-option {
  background-color: #fff5ef;
  width: 100%;
  border: 2px solid #062630;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
}
.link-option {
  font-family: "Martian Mono", sans-serif;
  color: #062630;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  text-align: left;
  text-decoration: none;
  cursor: grab;
}
.button-option:hover {
  cursor: grab;
  background: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
}
.button-option:focus {
  box-shadow: 0px 0px 0px 5px var(--colorsneutral700);
  box-shadow: 0px 0px 0px 3px #ffffff;
}

.text {
  padding-top: 32px;
  padding-bottom: 64px;
}
.icons {
  display: flex;
  gap: 6px;
  justify-content: center;
}
.icon {
  margin-bottom: 32px;
}
.text-about {
  font-family: "Martian Mono", sans-serif;
  color: #062630;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
}
.text-name {
  color: #385159;
  padding-top: 5px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.footer-container {
  background-color: #062630;
  background-image: url(../assets/images/pattern-dark-bg.svg);
}

.footer-title {
  color: #faf5f3;
  font-family: "Martian Mono", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -2px;
  text-align: center;
  width: 685px;
}
.footer-button {
  margin-top: 40px;
  text-decoration: none;
  cursor: grab;
  width: 380px;
  display: flex;
  font-family: "Martian Mono", sans-serif;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  font-weight: 600;
  line-height: 23px;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-bottom: 20px;
  letter-spacing: -1px;
}
.footer-button:hover {
  cursor: grab;
  background: linear-gradient(90deg, #385159 0%, #062630 100%);
}
.footer-button:focus {
  box-shadow: 0px 0px 0px 5px var(--colorsneutral700);
  box-shadow: 0px 0px 0px 2px #ffffff;
}
